@font-face {
  font-family: 'Shentox';
  src:
    url('../Assets/Fonts/Shentox-Regular.woff2') format('woff2'),
    url('../Assets/Fonts/Shentox-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ARS Maquette Regular';
  src: url('../Assets/Fonts/ars-maquette-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ARS Maquette Bold';
  src: url('../Assets/Fonts/ars-maquette-bold-alt.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: url('../Assets/Fonts/avalon-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../Assets/Fonts/HelveticaNeue.woff2') format('woff2'),
    url('../Assets/Fonts/HelveticaNeue.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src:
    url('../Assets/Fonts/HelveticaNeue-Light.woff2') format('woff2'),
    url('../Assets/Fonts/HelveticaNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
