html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
}

body {
  font: 
    normal normal 16px/100% 'ARS Maquette Regular',
    Helvetica,
    Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: left;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/* footer */
footer {
  text-align: center;
  background-color: #131313;
  width: 100%;
  height: 260px;
  position: absolute;
  bottom: 0;
}

.social-media-container {
  background: #000;
}

.fl-social {
  display: flex;
  width: 380px;
  justify-content: space-around;
  margin: 54px auto 44px auto;
  list-style: none;
}

.fl-social a {
  height: 40px;
  background: #333;
  border: 2px solid #333;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  width: 40px;
}

.fl-social a:hover {
  background-color: black;
}

.fl-menu {
  display: flex;
  justify-content: space-around;
  width: 335px;
  margin: 0 auto;
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.fl-menu a:link,
.fl-menu a:visited {
  margin: 0 9px;
  color: #aaa;
  text-decoration: none;
}

.fl-menu a:link:hover {
  color: white;
}

.footer-logo {
  color: white;
  width: 16px;
  height: 16px;
}

.footer-legal {
  position: absolute;
  bottom: 42px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #aaa;
  font-size: 13px;
  font-weight: 300;
}

.logo-footer {
  height: 9px;
}

b {
  color: #f42;
}