*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #fff;
}

body {
  max-width: 100vw;
  height: auto;
  font: 
    normal normal 16px/100% 'ARS Maquette Regular',
    Helvetica,
    Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: left;
}

ul {
  padding-inline-start: 0;
}

ul {
  list-style-type: none;
}

p, h2, h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* NAVBAR */
nav {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: slateblue;
  border: 2px solid black;
}

/* COVER STORIES/ARTICLES */
.coverArt-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 60vh;
  max-height: 560px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  background-color: tan;
  border: 1px solid black;
}

.coverArt-container > div:first-child {
  display: inline-block;
  flex: 1 0 65%;
  height: 100%;
  background-color: steelblue;
  border: 1px solid black;
}

.coverArt-container div:last-child {
  display: inline-flex;
  flex-flow: column nowrap;
  flex: 1 0 35%;
  height: 100%;
  background-color: slategray;
  border: 1px solid black;
}

.coverArt2 {
  display: block;
  width: 100%;
  height: 50%;
  background-color: thistle;
  border: 1px solid black;
}

.coverArt3 {
  display: block;
  width: 100%;
  height: 50%;
  background-color: teal;
  border: 1px solid black;
}

/* MAIN BODY WRAPPER */
.body-wrapper {
  margin: 0 auto;
  max-width: 1192px;
  padding: 20px;
  background-color: wheat;
}

.body-wrapper > section {
  margin-bottom: 25px;
}

/* LATEST-NEWS-SECTION */
.latest-news-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

.latest-news {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: rgb(179, 111, 111);
  padding: 10px;
  margin: 0;
}

.ln-item {
  flex: 1 0 25%;
  height: 200px;
  max-width: calc(25% - 10px);
  margin: 5px;
  background: rgb(129, 41, 41);
}

/* FUNDING SECTION */
.funding-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: auto;
  background-color: tomato;
  border: 1px solid black;
}

.funding-section header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: yellowgreen;
  border: 1px solid black;
}

.fCard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.fCard-container > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex: 1 0 calc(25% - 40px);
  height: 287px;
  max-width: 25%;
  margin: 10px 10px;
  border: 1px solid black;
}

/* TOPICS SECTION */
.topics-section-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: rgb(246, 148, 255);
  padding: 10px;
  margin: 0;
}

.ts {
  flex: 1 0 25%;
  height: 300px;
  max-width: calc(33.33% - 10px);
  margin: 5px;
  background: rgb(229, 90, 241);
}

/* LATEST DEALS SECTION */
.latest-deals-section {
  max-width: 1152px;
  margin: 0 auto;
}

.ld-header  {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 24px;
  color: #f42;
}

.ld-header h2 {
  line-height: 32px;
  font-size: 28px;
  font-weight: 700;
  font-family: Avalon, sans-serif;
  letter-spacing: -.015em;
}

.ld-header h2::after {
  background-image: url(../Assets/Img/download.svg);
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  top: 0;
  width: 16px;
}

.ld-header h2:hover,
.ld-header span:hover {
  color: #000;
}

.ld-header span {
  line-height: 18px;
  font-size: 16px;
  margin-top: 10px;
  text-decoration: none;
}

.latest-deals {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  padding: 10px;
  margin: 0;
}

.ld-item {
  flex: 0 0 25%;
  max-width: calc(25% - 10px);
  width: 250px;
  margin: 5px;
  position: relative;

}

.ld-picture {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 8px;
}

.ld-discount {
  background-image: url(../Assets/Img/deals-ribbon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: #000;
  display: block;
  height: 80px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  z-index: 10;
}

.ld-discount p {
  transform: rotate(45deg);
    font-size: 14px;
    font-weight: 700;
    left: 8px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    width: 100%;
}

.ld-item > h4 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}

.ld-item h4:hover {
  color: #f42;
  cursor: pointer;
  text-decoration: underline;
}

.ld-price {
  padding-top: 4px;
}

.ld-price-old {
  font-size: 13px;
  text-decoration: line-through;
  margin-right: 4px;
  color: #aaa;
}

.ld-price-new {
  font-size: 16px;
  text-decoration: line-through;
  margin-right: 4px;
  color: #555;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #131313;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #aaa;
  font-size: 13px;
  font-weight: 300;  
}

.fl-social {
  display: flex;
  margin: 60px auto 0 auto;
  list-style: none;
}

.fl-social a {
  height: 40px;
  background: #333;
  border: 2px solid #333;
  border-radius: 50%;
  padding: 11px;
  margin: 7px;
  text-align: center;
  width: 40px;
}

.fl-social a:hover {
  background-color: black;
}

.fl-menu {
  display: flex;
  width: 335px;
  margin: 40px auto;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  font-family: Shentox;
}

.fl-menu a:link,
.fl-menu a:visited {
  margin: 0 9px;
  color: #aaa;
  text-decoration: none;
}

.fl-menu a:hover {
  color: white;
}

.footer-logo {
  color: white;
  width: 16px;
  height: 16px;
  font-size: 1.3em;
}

.footer-legal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  color: #aaa;
  font-size: 13px;
  font-weight: 300;
  padding: 39px 0;
  background: #000;
}

.logo-footer {
  height: 9px;
}

b {
  color: #f42;
}